// Create your own map
$custom-colors: (
  "tomato": rgb(237, 100, 84),
  "marine": #68d9a5
  );

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

body {
  font-family: "Roboto";
}

.header {
  padding: 20px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  padding: 20px 60px;
}

.search {
  margin-bottom: 1.5rem;
}

.receipts {
  margin-top: 1.5rem;
}

.receipts ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.h-100 {
  width: 380px;
}

.img-container {
  width: 379px;
  height: 178px;
  overflow: hidden;
}

.col-text {
  font-size: 12px;
  font-weight: 400;
}

.ingredient {
  margin-right: 0.2rem;
}