.dropdown-menu {
    width: 350px;
    background: lightgrey;

    &.show {
      display: flex !important;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 360px;
      width: 652px;
      max-width: 100%;
      overflow: auto;
      margin-top: -5px !important;
      border: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    ul {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      
  
      li {
        width: 33%;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #fff;
        font-family: 'lato';
        cursor: pointer;
      }
    }  
  }
  
  .tag-elem {
    width: auto;
    padding: 10px 20px;
    margin: 5px;
    height: 37px;
    color: #fff;
    font-family: "lato";
    font-size: 14px;
    font-weight: 700;

    &_primary {
      background-color: $primary;
    }

    &_tomato {
      background-color: map-get($custom-colors, "tomato");
    }

    &_marine {
      background-color: map-get($custom-colors, "marine");
    }
  }

  .tag-close {
    cursor: pointer;
  }
  
  .custom-dropdown a {
    color: white;
  }

  .tag-search {
    width: 570px;
    max-width: 100%;
    appearance: none;
    border: 0;
    background-color: transparent;
    color: #fff;
    outline: 0;
    font-size: 18px;
    font-family: "lato";

    &-result {
      font-size: 18px;
      font-family: "lato";
    }

    &-name {
      display: block;
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      font-family: 'lato';
    }
  }

  .btn.tag-search-button {
    display: flex;
    max-width: 100%;
    height: 61px;

    &-hidden {
      width: 0px;
      overflow: hidden;
      padding: 0 !important;
      margin: 0;
      border: none;
      
      &:focus {
        box-shadow: none;
      }
    }
  }
  
  .tag-search::placeholder {
    color: #fff;
  }
  
  .tag-list {
    list-style-type: none;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    max-height: 700px;
    font-size: 18px;
    font-weight: 400;
    font-family: "lato";     
  }

  .dropdown-toggle::after {
    display: none !important;
  }
  
  .btn-open {
    width: 570px;
    max-width: 100%;
  }

  .btn-group {
    max-width: 90%;
    &-tag {

      .tag-search-input-container {
        padding: 0 10px;
        display: none;
        height: 61px;
      }      

      .fa-angle {

        &-up, &-down {
          display: flex;
          color: #fff;
          position: absolute;
          right: 0;
          top: 0;
          width: 30px;
          height: 100%;
          align-items: center;
          justify-content: center;
        }
      }  
    }
  }

  .tag-search-name {
    margin-right: 25px;
  }